{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>

    <div class="container-fluid">
        <main class="tm-main" style="background-color: white;">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form action="{% url 'home-search-url' %}" method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search" style="text-align:center;" >
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            <div class="row tm-row">
                {% for item in page_obj %}
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a href="{% url 'publication_detail_url' item.id %}" class="effect-lily tm-post-link tm-pt-60">
                        <div class="tm-post-link-inner">
                            <img src="{{ item.image.url }}" width="500px" alt="Image" class="img-fluid">
                        </div>
                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ item.title }} </h2>
                    </a>                    
                    <p> {{ item.description }}</p>
                    <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Hashtags: {% for hashtag in item.hashtags.all %}
                            {{ hashtag.title  }}
                            {% endfor %}
                        </span>
                        <br>
                    </div>
                    <div>
                        <span style="color: black">{{ item.create_at }} </span>

                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <a href=""> 36 comments </a>
                    </div>
                </article>
                {% endfor %}
            </div>

            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-prev-next-wrapper">
                    {% if page_obj.has_previous %}
                        <a style="color:red; background-color: blue;" href="?page={{ page_obj.previous_page_number }}" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Previous</a>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <a style="color: black;  background-color: green;" href="?page={{ page_obj.next_page_number }}" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                    {% endif %}
                </div>
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3">Page</span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            {% for p in page_obj.paginator.page_range %}
                            <li class="tm-paging-item {% if page_obj_number == p %} active {% endif %}">
                                <a  style="color:red;  background-color: blue;" href="?page={{ p }}" class="mb-2 tm-btn tm-paging-link">{{ p }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>                
            </div>
            {% include 'footer-part.html' %}
        </main>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/templatemo-script.js' %}"></script>
</body>
{% endblock %}
